{% extends 'base.html' %}
{% load static %}

{% block content %}

    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/participants.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'vendor/datatables/Responsive-2.2.5/css/responsive.bootstrap4.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'vendor/datatables/DataTables-1.10.21/css/jquery.dataTables.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'vendor/datatables/Buttons-1.6.3/css/buttons.dataTables.min.css' %}" type="text/css"/>

    <div class="row">
        <div class="main-card mb-3 card">

            <!-- datatables -->

            <div class="container-fluid">
                <div class="table-responsive">
                    <table id="datatables" class="table table-striped table-hover">

                        <thead>
                        <tr>
                            <th> </th>
                            <th>AddressID</th>
                            <th>Street Number</th>
                            <th>Street Name</th>
                            <th>Apt Number</th>
                            <th>Nearest</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Zipcode</th>
                            <th>GeoCoding</th>
                            <th>Actions</th>
                        </tr>
                        </thead>

                    </table>
                </div>
            </div>

        </div>
    </div>
    {{  addr_id_list }}
    <script>
        var addr_id_list = {{  addr_id_list|safe }};
    </script>
    <script src="{% static 'vendor/jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/addresses.js' %}"></script>

    <script src="{% static 'vendor/datatables/Responsive-2.2.5/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/Buttons-1.6.3/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/Buttons-1.6.3/js/buttons.flash.js' %}"></script>
    <script src="{% static 'vendor/datatables/Buttons-1.6.3/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/Buttons-1.6.3/js/buttons.print.min.js' %}"></script>

{% endblock %}
