{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}
{% block content %}

<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'vendor/datatables/DataTables-1.10.21/css/jquery.dataTables.min.css' %}" type="text/css"/>
<!-- <link rel="stylesheet" href="{ % static 'vendor/datatables/Responsive-2.2.5/css/responsive.bootstrap4.min.css' %}" type="text/css"/> -->
<!-- <link rel="stylesheet" href="{ % static 'vendor/datatables/Buttons-1.6.3/css/buttons.dataTables.min.css' %}" type="text/css"/> -->

<div class="col-md-12">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-user icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div style="color:green;font-size:18px;">Address Dashboard
                    <div class="page-title-subheading">Search, create, edit and delete addresses.
                    </div>
                </div>
            </div>
             <div class="page-title-actions">
                 <button data-toggle="tooltip" title="Add Address" data-placement="bottom"
                    class="mb-2 mr-2 btn-transition btn btn-outline-primary" id="id_new_address">
                        New Address
                 </button>
             </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xl-4">
        <div class="card mb-3 widget-content">
            <div class="widget-content-outer">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left">
                        <div class="widget-heading">Total Addresses</div>
                        <div class="widget-subheading">Total</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-success">700</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xl-4">
        <div class="card mb-3 widget-content">
            <div class="widget-content-outer">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left">
                        <div class="widget-heading">Current Addresses</div>
                        <div class="widget-subheading">Current</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-warning">500</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xl-4">
        <div class="card mb-3 widget-content">
            <div class="widget-content-outer">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left">
                        <div class="widget-heading">Questionable Addresses</div>
                        <div class="widget-subheading">Count</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-danger">10</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="main-card mb-3 card">
        <div class="card-header">Address list
            <div class="btn-actions-pane-right">
                <div role="group" class="btn-group-sm btn-group">
                    <button class="active mb-2 mr-2 btn-transition btn btn-outline-primary">
                        Active Addresses
                    </button>
                    <button class="mb-2 mr-2 btn-transition btn btn-outline-secondary">
                        All Addresses
                    </button>

                </div>
            </div>
        </div>

        <!-- datatables -->
        <div class="container-fluid">
            <div class="table-responsive">
                <table id="data_table_01" class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>AddressID</th>
                        <th>Street Number</th>
                        <th>Street Name</th>
                        <th>Apartment</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zipcode</th>
                        <th>Google PlaceID</th>
                        <th>Show</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    {% for item in addresses %}
                            <tr data-hidden="{{ item.streetname }}">
                                <td>{{ item.addressid }}</td>
                                <td>{{ item.streetnumber }}</td>
                                <td>{{ item.streetname }}</td>
                                <td>{{ item.aptnumber }}</td>
                                <td>{{ item.city }}</td>
                                <td>{{ item.state }}</td>
                                <td>{{ item.zipcode }}</td>
                                <td>{{ item.google_place_id }}</td>
                                <td>
                                    <button
                                        type="button"
                                        class="btn btn-default"
                                        data-type="show"
                                        data-address="{{ item.streetnumber }} {{ item.streetname }} {{ item.city }}, {{ item.state }}  {{ item.zipcode }}"
                                        onclick="handleButtonClick(this)">Show</button>
                                </td>
                                <td>
                                    <button
                                        id="{{ item.addressid }}"
                                        type="button"
                                        class="btn btn-primary"
                                        data-type="edit"
                                        onclick="handleButtonClick(this)">Edit</button>
                                </td>
                                <td>
                                    <form method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{item.addressid}}" name="delete_id">
                                        <button type="Submit"class="btn btn-danger" data-type="delete">Delete</button>
                                    </form>
                                </td>
                           </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'vendor/jquery/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/addresses.js' %}"></script>

<!--
<script src="{ % static 'vendor/datatables/Responsive-2.2.5/js/dataTables.responsive.min.js' %}"></script>
<script src="{ % static 'vendor/datatables/Buttons-1.6.3/js/buttons.flash.js' %}"></script>
<script src="{ % static 'vendor/datatables/Buttons-1.6.3/js/buttons.html5.min.js' %}"></script>
<script src="{ % static 'vendor/datatables/Buttons-1.6.3/js/buttons.print.min.js' %}"></script>
-->

{% endblock content %}
