{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>AppName Test Template</h1>
    {{ addresses }}

    <table>
        <tr>
            <th>address_id</th>
            <th>pguid</th>
            <th>from_year</th>
            <th>to_year</th>
        </tr>
        {% for item in parts_addrs %}
        <tr>
            <td>{{ item.address_id }}</td>
            <td>{{ item.pguid }}</td>
            <td>{{ item.from_year }}</td>
            <td>{{ item.to_year }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock content %}

<script src="{% static 'vendor/jquery/jquery-3.6.0.min.js' %}"></script>
