{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>AppName Test Template</h1>
    {{ addresses }}

    <table>
        <tr>
            <th>addressid</th>
            <th>streetnumber</th>
            <th>streetname</th>
        </tr>
        {% for item in addresses %}
        <tr>
            <td>{{ item.addressid }}</td>
            <td>{{ item.streetnumber }}</td>
            <td>{{ item.streetname }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock content %}

<script src="{% static 'vendor/jquery/jquery-3.6.0.min.js' %}"></script>
