{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>ABCD PII Dashboard </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="ABCD PII Dashboard.">
    <meta name="msapplication-tap-highlight" content="no">
    <!--
    ABCD PII database application is based on ArchitectUI HTML Theme Dashboard - v1.0.0
     -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

</head>
<body>

    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">

        <!-- Topbar -->
        {% include 'components/_topbar.html' with groups=groups name=name %}
        <!-- End of Topbar -->

        <!-- main contents need to include the side bar and footer -->
        <div class="app-main">
            <!-- sidebar -->
            {% include 'components/_sidebar.html' %}
            <!-- End of sidebar -->



            <div class="app-main__outer">


                 <div class="app-main__inner">

                    {% block content %}
                    {% endblock %}
                 </div>

                <!-- Footer -->
                {% include 'components/_footer.html' %}

                <!-- End of Footer -->
            </div>
        <!-- End of Main Content -->
        </div>
    </div>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'vendor/jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>

    <script src="{% static 'vendor/datatables/Responsive-2.2.5/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/Buttons-1.6.3/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/DataTables-1.10.21/js/jquery.dataTables.min.js' %}"></script>
    <script>
        $(document).ready(function() {
        });
    </script>

</body>

</html>
